<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Premier Predictions</title>
	<link rel="stylesheet" href="/assets/librarys/bootstrap.min.css">
	<link rel="stylesheet" href="/dist/main.css">
	<script src="/assets/librarys/angular.min.js"></script>
	<script src="/app/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div ng-controller="homeController as home">
					<h1>{{ home.title }}</h1>
				</div>
				<br>
				<div ng-controller="showFixturesController as fixtures" >
					<h3>{{ fixtures.fixtureAmount }} </h3>
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<td>Home Team</td>
								<td></td>
								<td>Date</td>
								<td></td>
								<td>Away</td>
							</tr>
						</thead>	
						<tbody>
							<tr ng-repeat="fixture in fixtures.fixtures track by fixture.index" >
								<td class="text-xs-left vertical-align--middle">{{ fixture.homeTeam }}</td>
								<td class="vertical-align--middle">
									<input type="text" class="form-control prediction-input float-right " size="1" ng-model="fixture.homeGoals">
								</td>
								<td class="text-xs-center vertical-align--middle">{{ fixture.date }}</td>
								<td class="vertical-align--middle">
									<input type="text" class="form-control prediction-input float-left " size="1" ng-model="fixture.awayGoals">
								</td>
								<td class="text-xs-right vertical-align--middle">{{ fixture.awayTeam }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>